<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://service.touresbalon.com.co/">
   <soapenv:Header/>
   <soapenv:Body>
      <ser:consultarClientePorIdentificacion>
         <!--Optional:-->
         <filtro>
            <identificacion>$!{headers.req.identificacion}</identificacion>
         </filtro>
      </ser:consultarClientePorIdentificacion>
   </soapenv:Body>
</soapenv:Envelope>